{% extends "base_map.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/webflow_base.css">
   ap/dist/css/bootstrap.min.css">
	
	<style>
		.space_up {
			margin-top: 10%;
		}

		.badge-warning{
			background-color: #a9a954;
		}
	</style>

{% endblock %}

{% block body %}
	
	 <div id="container" class="container">
	 	<div class="row">
	 	<div class="space_up"> &nbsp; </div>

            <div class="col-md-12">
				<table class="table table-striped">
					<thead>				
						<tr>					
							<th> Display Name </th>
							<th> Tier </th>
							<th> Points </th>
							<th> Phone Number </th>
						</tr>
					</thead>
					<tbody>

						{% set tier_badges = {'Silver': 'warning', 'Carbon': 'primary'} %}
						{% for item in data %}
						<tr>
							<td> <a href="#" class='show_loc' data-loc='{{item[4]}}'> 
								{{ item[0] }} </a>  </td>
							<td> {{ item[1] }} </td>
							<td> 
								<span class="badge badge-{{tier_badges[item[2]]}}">
									{{ item[2] }}
								</span>
							</td>
							<td> {{ item[3] or 'N/A' }} </td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>


{% endblock %}

{% block footer %}

<script>
	
	window.addEventListener('DOMContentLoaded', (event) => {
	    var cls_items = document.getElementsByClassName('show_loc')
	    for (var i=0; i < cls_items.length; i++){
	    	
	    	var temp_element = cls_items[i];
	    	temp_element.addEventListener('click', function(){

	    		alert('Location ' + this.getAttribute('data-loc'))
	    	});	    	

	    }

	});
</script>

{% endblock %}

 